@model model.entity.Usuario
@{
    ViewBag.Title = "Find";
}

<h2>Datos de Usuario</h2>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.IdUsuario, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.IdUsuario, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.NombreUsuario, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PrimerApellido, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.PrimerApellido, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SegundoApellido, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.SegundoApellido, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Alias, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Correo, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Password, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CuantosSubastados, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.CuantosSubastados, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CuantosComprados, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.CuantosComprados, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TelefonoCelular, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.TelefonoCelular, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TelefonoCasa, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.TelefonoCasa, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TelefonoTrabajo, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.TelefonoTrabajo, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EsAdmin, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.DisplayFor(model => model.EsAdmin, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-actions col-md-offset-2">
        <a class="btn btn-primary" href='~/Usuario/'>Regresar</a>
        @*@Html.ActionLink("Regresar al listado", "Inicio")*@
    </div>
</div>

}

